@charset "UTF-8";
:root {
  --base-color: #ffffff;
  --naftogaz-blue: #00a1de;
  --main-black: #000000;
  --transfotmation-time: 250ms;
  --tranformation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mainfont: "Montserrat Alternates", sans-serif;
  --adfont: "Vollkorn", serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.sticky-spacer {
  width: 20px;
  height: 2400px;
  margin-left: -50px;
}
@media screen and (min-width: 768px) {
  .sticky-spacer {
    height: 3840px;
  }
}

.requisites-section_work-1::after, .about-hopes-tile9::after, .about-hopes-tile7::after, .about-hopes-tile6::after, .about-hopes-tile4::after, .about-hopes-tile3::after, .about-hopes-tile2::after, .about-hopes-tile1::after, .aboutwar-tile9::after, .aboutwar-tile8::after, .aboutwar-tile7::after, .aboutwar-tile6::after, .aboutwar-tile5::after, .aboutwar-tile4::after, .aboutwar-tile3::after, .aboutwar-tile2::after, .aboutwar-tile1::after, .invi-tile7::after, .invi-tile5::after, .invi-tile4::after, .invi-tile3::after, .invi-tile2::after, .invi-tile1::after, .intro2-section_work-1-2::after, .intro-section_work-2::after, .intro-section_work-1::after {
  content: "i";
  font-family: var(--adfont);
  font-size: 24px;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--base-color);
  color: var(--main-black);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.about-hopes-tile8::after, .about-hopes-tile5::after, .invi-tile6::after {
  content: "i";
  font-family: var(--adfont);
  font-size: 24px;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--main-black);
  color: var(--base-color);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.note {
  position: absolute;
  z-index: 3;
  padding: 5px;
  border: 1px solid black;
  color: var(--main-black);
  background-color: var(--base-color);
  text-align: center;
  opacity: 0.9;
  font-family: var(--adfont);
  font-size: 12px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  cursor: pointer;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: var(--base-color);
  font-family: var(--mainfont);
  font-weight: 800;
}

p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--base-color);
}

.title {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: rgba(125, 125, 125, 0.5);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--transfotmation-time);
          transition-duration: var(--transfotmation-time);
  -webkit-transition-timing-function: var(--tranformation-function);
          transition-timing-function: var(--tranformation-function);
}
@media screen and (min-width: 1200px) {
  .header {
    height: 100%;
    width: 82px;
    right: 0px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.header.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 1200px) {
  .header.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header_container {
  width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (min-width: 480px) {
  .header_container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header_container {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header_container {
    padding-left: 0;
    padding-right: 0;
  }
}

.logo {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--transfotmation-time);
          transition-duration: var(--transfotmation-time);
  -webkit-transition-timing-function: var(--tranformation-function);
          transition-timing-function: var(--tranformation-function);
}
@media screen and (min-width: 1200px) {
  .logo {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.logo.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 1200px) {
  .logo.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.logo-icon {
  display: block;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .logo-icon {
    height: 26px;
  }
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .top-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80vh;
  }
}

.top-menu-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .top-menu-controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.menu-container {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 60px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--transfotmation-time);
          transition-duration: var(--transfotmation-time);
  -webkit-transition-timing-function: var(--tranformation-function);
          transition-timing-function: var(--tranformation-function);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  background-color: var(--main-black);
  padding: 48px 40px;
}
@media screen and (min-width: 1200px) {
  .menu-container {
    width: 100vw;
    right: -100vw;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.langchanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.langchanger__text {
  margin-left: 20px;
  height: 100%;
}

.langchanger__link {
  display: block;
  height: 100%;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.23;
  letter-spacing: 0.05em;
}

.tumbler {
  position: relative;
  width: 80px;
  height: 24px;
  background-color: #d9d9d9;
  border-radius: 12px;
  border: 2px #d9d9d9 solid;
}

.tumbler__right-back {
  position: absolute;
  height: 20px;
  width: 40px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #888888;
  left: 36px;
}

.tumbler__ball {
  position: absolute;
  top: -5px;
  left: 16px;
  width: 30px;
  height: 30px;
  background-position: center;
  border: 2px #d9d9d9 solid;
  border-radius: 50%;
}
.tumbler__ball--to-eng {
  background-image: url(../img/flag-gb.svg);
}
.tumbler__ball--to-ukr {
  background-image: url(../img/flag-ua.svg);
}

.langswitch {
  height: 100%;
}
@media screen and (max-width: 350px) {
  .langswitch {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.langswitch-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 1200px) {
  .langswitch-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.langswitch-item {
  margin-right: 5px;
  margin-left: 5px;
}

.langswitch-link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}
.langswitch-link--current {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.top-menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--base-color);
  position: relative;
  z-index: 2;
}

.top-menu-use {
  fill: currentColor;
}

.top-menu-button .top-menu-use__cross {
  display: none;
}

.top-menu-button.is-open .top-menu-use__cross {
  display: block;
}

.top-menu-button.is-open .top-menu-use__menu {
  display: none;
}

.site-nav {
  color: var(--base-color);
  font-size: 36px;
  line-height: 1.23;
  margin-bottom: 60px;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 30px;
}

.site-nav__item:hover,
.site-nav__item:focus,
.site-nav__item:active {
  color: var(--naftogaz-blue);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-section {
  padding-top: 44vh;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/main-mob@1x.png);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/main-mob@1x.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  /* тимчасово для */
  /* тимчасово */
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/main-mob@2x.png);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/main-mob@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/main-tablet@1x.png);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/main-tablet@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/main-tablet@2x.png);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/main-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/main-desktop@1x.png);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/main-desktop@1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/main-desktop@2x.png);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/main-desktop@2x.png);
  }
}

.main-title {
  height: 152px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main-title--eng {
  background-image: url(../img/main-title-mob-eng.svg);
}
.main-title--ukr {
  background-image: url(../img/main-title-mob-ukr.svg);
}
@media screen and (min-width: 768px) {
  .main-title {
    max-width: 428px;
    margin-bottom: 68px;
  }
  .main-title--eng {
    background-image: url(../img/main-title-tablet-eng.svg);
  }
  .main-title--ukr {
    background-image: url(../img/main-title-tablet-ukr.svg);
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    max-width: 640px;
    margin-bottom: 46px;
  }
}

.main-orglogos {
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
}
@media screen and (min-width: 768px) {
  .main-orglogos {
    max-width: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .main-orglogos {
    max-width: 640px;
  }
}

.main-orglogos_logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-orglogos_logo-img {
  height: 20px;
}
@media screen and (min-width: 768px) {
  .main-orglogos_logo-img {
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main-orglogos_logo-img {
    height: 40px;
  }
}

.intro-section {
  padding-top: 100px;
  color: var(--main-black);
}

.intro-section_grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  gap: 0px;
  height: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .intro-section_grid-container {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
  }
}

.intro-section_large-text {
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  color: var(--naftogaz-blue);
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  align-self: end;
}
@media screen and (min-width: 768px) {
  .intro-section_large-text {
    padding-left: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .intro-section_large-text {
    font-size: 48px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }
}

.intro-section_small-text {
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  margin-top: 40px;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  align-self: start;
}
@media screen and (min-width: 768px) {
  .intro-section_small-text {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    width: 440px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .intro-section_small-text {
    font-size: 32px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    align-self: start;
    width: 100%;
  }
}

.intro-section_work-1 {
  position: relative;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  align-self: end;
  width: 123px;
}
@media screen and (min-width: 768px) {
  .intro-section_work-1 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    width: 298px;
  }
}
@media screen and (min-width: 1200px) {
  .intro-section_work-1 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    width: 278px;
  }
}
.intro-section_work-1::after {
  bottom: 16px;
  left: 12px;
}
@media screen and (min-width: 768px) {
  .intro-section_work-1::after {
    left: 0;
    left: 240px;
  }
}
@media screen and (min-width: 1200px) {
  .intro-section_work-1::after {
    left: 200px;
  }
}

.intro-section_work-1-img {
  display: block;
}

.intro-section_work-2 {
  position: relative;
  bottom: 0px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
  max-width: 100%;
  align-self: end;
}
@media screen and (min-width: 768px) {
  .intro-section_work-2 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;
    width: 455px;
  }
}
@media screen and (min-width: 1200px) {
  .intro-section_work-2 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    width: 510px;
  }
}
.intro-section_work-2::after {
  bottom: 16px;
  right: 16px;
}

.intro-section_work-2-img {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
}

.schools-section {
  padding-top: 124px;
  color: var(--naftogaz-blue);
  min-height: 100vh;
  background-color: var(--main-black);
}

.schools-section_flex-container {
  position: sticky;
  top: 120px;
  height: calc(100vh - 124px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .schools-section_flex-container {
    top: 80px;
  }
}

.schools-section_flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--main-black);
  margin: 0 -15px;
}

.schools-section_text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.23;
  margin-bottom: 30px;
  padding: 0 30px;
}
.schools-section_text--ls {
  letter-spacing: -0.01em;
}

.schools-slider_plate {
  background-color: var(--main-black);
}

.schools-slider_tiles {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto;
  gap: 0px;
  height: 100%;
}

.schools-slider_tile {
  position: relative;
}

.schools-tile1 {
  grid-area: 1/1/3/2;
  width: 280px;
  height: 470px;
}
@media screen and (min-width: 768px) {
  .schools-tile1 {
    grid-area: 1/1/3/2;
    width: 420px;
  }
}

.schools-tile1 img {
  width: 280px;
  height: 470px;
}
@media screen and (min-width: 768px) {
  .schools-tile1 img {
    width: 420px;
    height: 420px;
  }
}

.schools-tile2 {
  grid-area: 1/2/2/3;
  width: 235px;
}
@media screen and (min-width: 768px) {
  .schools-tile2 {
    grid-area: 2/3/3/4;
    width: 420px;
  }
}

.schools-tile2 img {
  width: 235px;
  height: 235px;
}
@media screen and (min-width: 768px) {
  .schools-tile2 img {
    width: 420px;
    height: 210px;
  }
}

.schools-tile3 {
  grid-area: 1/3/2/5;
  overflow: hidden;
  width: 420px;
  height: 235px;
}
@media screen and (min-width: 768px) {
  .schools-tile3 {
    grid-area: 1/3/2/4;
    width: 421px;
    height: 210px;
  }
}

.schools-tile3 img {
  width: 420px;
  height: 235px;
}
@media screen and (min-width: 768px) {
  .schools-tile3 img {
    width: 421px;
    height: 210px;
  }
}

.schools-tile4 {
  grid-area: 2/2/3/4;
  width: 420px;
}
@media screen and (min-width: 768px) {
  .schools-tile4 {
    grid-area: 1/2/3/3;
    width: 746px;
  }
}

.schools-tile4 img {
  width: 420px;
  height: 235px;
}
@media screen and (min-width: 768px) {
  .schools-tile4 img {
    width: 746px;
    height: 420px;
  }
}

.schools-tile5 {
  grid-area: 2/4/3/5;
  width: 235px;
}
@media screen and (min-width: 768px) {
  .schools-tile5 {
    grid-area: 1/4/3/5;
    width: 420px;
  }
}

.schools-tile5 img {
  width: 235px;
  height: 235px;
}
@media screen and (min-width: 768px) {
  .schools-tile5 img {
    width: 420px;
    height: 420px;
  }
}

.schools-tile6 {
  grid-area: 1/6/3/7;
  width: 470px;
}
@media screen and (min-width: 768px) {
  .schools-tile6 {
    grid-area: 1/5/3/6;
    width: 420px;
  }
}

.schools-tile6 img {
  width: 470px;
  height: 470px;
}
@media screen and (min-width: 768px) {
  .schools-tile6 img {
    width: 420px;
    height: 420px;
  }
}

.schools-slider_tile-img {
  display: block;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.schools-slider_tile-img:hover {
  -webkit-filter: none;
  filter: none;
}

.schools-slider_tile-text {
  color: var(--base-color);
  padding-left: 5px;
  padding-right: 25px;
}

.chools-slider_added-text {
  width: 380px;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  color: var(--naftogaz-blue);
}
@media screen and (min-width: 768px) {
  .chools-slider_added-text {
    font-size: 32px;
    width: 480px;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
  }
}

.chools-slider_added-text-span {
  color: var(--base-color);
}

.schools-slider_stop-text {
  color: var(--base-color);
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  width: 380px;
  margin: 0 auto 50px;
}

.schools-slider_stop-text-link {
  color: var(--naftogaz-blue);
}

.intro2-section {
  color: var(--main-black);
  padding-bottom: 46px;
}

@media screen and (min-width: 1200px) {
  .intro2-section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.intro2-section_sticky-container {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .intro2-section_sticky-container {
    -ms-flex-preferred-size: 517px;
        flex-basis: 517px;
  }
}

.intro2-section_work-1-1 {
  position: sticky;
  top: 0;
  margin: 0 -15px;
}
@media screen and (min-width: 768px) {
  .intro2-section_work-1-1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .intro2-section_work-1-1 {
    width: 100%;
  }
}

.intro2-section_work-1-1-img {
  display: block;
  max-width: 100%;
}

.intro2-section_work-1-2 {
  position: sticky;
  top: 0;
  z-index: 3;
  margin: 0 -15px;
}
@media screen and (min-width: 768px) {
  .intro2-section_work-1-2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .intro2-section_work-1-2 {
    width: 100%;
  }
}
.intro2-section_work-1-2::after {
  bottom: 6px;
  left: 15px;
}

.intro2-section_work-1-2-img {
  display: block;
  max-width: 100%;
}

.intro2-section_small-text {
  position: sticky;
  top: 940px;
  font-size: 36px;
  line-height: 1.23;
  margin-top: 44px;
}
@media screen and (min-width: 768px) {
  .intro2-section_small-text {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .intro2-section_small-text {
    padding-left: 127px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 120px;
  }
}

.btn-donate {
  display: block;
  font-family: inherit;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: var(--base-color);
  background-color: var(--naftogaz-blue);
  cursor: pointer;
  padding: 10px 70px;
  width: 380px;
  margin: 0 auto;
  border: 1px solid transparent;
}

.invi-section {
  padding-top: 124px;
  color: var(--base-color);
  min-height: 100vh;
}

.invi-section_flex-container {
  position: sticky;
  top: 120px;
  height: calc(100vh - 124px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .invi-section_flex-container {
    top: 80px;
  }
}

.invi-section_flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--naftogaz-blue);
  margin: 0 -15px;
}

.invi-section_text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .invi-section_text {
    font-size: 48px;
    padding-left: 142px;
    width: 732px;
  }
}

.new-slider {
  height: 586px;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (min-width: 768px) {
  .new-slider {
    height: 520px;
  }
}

.new-slider_plate {
  position: relative;
  width: 2400px;
  height: 100%;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .new-slider_plate {
    width: 3840px;
  }
}

.new-slider_stop-slide {
  width: 480px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invi-slider_plate {
  background-color: var(--base-color);
}

.invi-slider_tiles {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto 460px auto;
  gap: 0px;
}
@media screen and (min-width: 768px) {
  .invi-slider_tiles {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}

.invi-slider_tile {
  position: relative;
}

.invi-tile1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .invi-tile1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    width: 571px;
  }
}
.invi-tile1::after {
  bottom: 15px;
  left: 15px;
}

.invi-tile2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .invi-tile2 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    width: 571px;
  }
}
.invi-tile2::after {
  bottom: 15px;
  right: 15px;
}

.invi-tile3 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  width: 350px;
}
@media screen and (min-width: 768px) {
  .invi-tile3 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    width: 314px;
  }
}
.invi-tile3::after {
  bottom: 15px;
  right: 15px;
}

.invi-tile4 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .invi-tile4 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
    width: 572px;
  }
}
.invi-tile4::after {
  top: 15px;
  left: 15px;
}

.invi-tile5 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .invi-tile5 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    width: 571px;
  }
}
.invi-tile5::after {
  bottom: 15px;
  right: 15px;
}

.invi-tile6 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}
@media screen and (min-width: 768px) {
  .invi-tile6 {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
    width: 372px;
  }
}
.invi-tile6::after {
  bottom: 15px;
  right: 25px;
}

.invi-tile7 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
  width: 350px;
}
@media screen and (min-width: 768px) {
  .invi-tile7 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-column-end: 8;
    width: 314px;
  }
}
.invi-tile7::after {
  bottom: 15px;
  right: 15px;
}

.invi-slider_tile-img {
  display: block;
}

.invi-slider_tile-text {
  color: var(--main-black);
  padding-left: 50px;
  padding-right: 25px;
}
@media screen and (min-width: 768px) {
  .invi-slider_tile-text {
    padding-left: 30px;
  }
}

.invi-slider_tile-text-pre {
  font-family: var(--adfont);
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .invi-slider_tile-text-pre {
    font-size: 20px;
    line-height: 1.1;
    margin-top: 12px;
    margin-bottom: 6px;
  }
}

.invi-slider_stop-text {
  color: var(--main-black);
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  width: 380px;
  margin: 0 auto 50px;
}

.invi-slider_stop-text-link {
  color: var(--naftogaz-blue);
}

.aboutwar-section {
  padding-top: 124px;
  color: var(--base-color);
  min-height: 100vh;
  background-color: var(--main-black);
}

.aboutwar-section_flex-container {
  position: sticky;
  top: 120px;
  height: calc(100vh - 124px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .aboutwar-section_flex-container {
    top: 80px;
  }
}

.aboutwar-section_flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--main-black);
  margin: 0 -15px;
}

.aboutwar-section_text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .aboutwar-section_text {
    font-size: 48px;
  }
}

.aboutwar-slider_plate {
  background-color: var(--main-black);
}

.aboutwar-slider_tiles {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 0px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .aboutwar-slider_tiles {
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
}

.aboutwar-slider_tile {
  position: relative;
}

.aboutwar-tile1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  width: 340px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    width: 608px;
  }
}
.aboutwar-tile1::after {
  bottom: 15px;
  left: 15px;
}

.aboutwar-tile2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  width: 235px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile2 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    width: 210px;
  }
}
.aboutwar-tile2::after {
  bottom: 15px;
  right: 15px;
}

.aboutwar-tile3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 4;
  width: 315px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile3 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    width: 562px;
  }
}
.aboutwar-tile3::after {
  bottom: 15px;
  right: 15px;
}

.aboutwar-tile4 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 5;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile4 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 4;
    width: 450px;
  }
}
.aboutwar-tile4::after {
  top: 15px;
  right: 15px;
}

.aboutwar-tile5 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
  width: 235px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile5 {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
    width: 420px;
  }
}
.aboutwar-tile5::after {
  bottom: 15px;
  right: 15px;
}

.aboutwar-tile6 {
  grid-row-start: 1;
  grid-column-start: 6;
  grid-row-end: 3;
  grid-column-end: 7;
  width: 375px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile6 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-column-end: 8;
    width: 335px;
  }
}
.aboutwar-tile6::after {
  bottom: 15px;
  left: 15px;
}

.aboutwar-tile7 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
  width: 315px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile7 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
    width: 563px;
  }
}
.aboutwar-tile7::after {
  bottom: 15px;
  right: 15px;
}

.aboutwar-tile8 {
  grid-row-start: 1;
  grid-column-start: 7;
  grid-row-end: 3;
  grid-column-end: 8;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile8 {
    grid-row-start: 1;
    grid-column-start: 8;
    grid-row-end: 3;
    grid-column-end: 9;
    width: 286px;
  }
}
.aboutwar-tile8::after {
  bottom: 15px;
  left: 15px;
}

.aboutwar-tile9 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
  width: 235px;
}
@media screen and (min-width: 768px) {
  .aboutwar-tile9 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    width: 210px;
  }
}
.aboutwar-tile9::after {
  bottom: 15px;
  right: 15px;
}

.aboutwar-slider_tile-img {
  display: block;
}

.aboutwar-slider_tile-text {
  color: var(--base-color);
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 768px) {
  .aboutwar-slider_tile-text {
    padding-left: 17px;
  }
}

.aboutwar-slider_tile-text-pre {
  font-family: var(--adfont);
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .aboutwar-slider_tile-text-pre {
    font-size: 20px;
    line-height: 1.1;
    margin-top: 4px;
    margin-bottom: 6px;
  }
}

.aboutwar-slider_stop-text {
  color: var(--base-color);
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  width: 380px;
  margin: 0 auto 50px;
}

.aboutwar-slider_stop-text-link {
  color: var(--naftogaz-blue);
}

.about-hopes-section {
  padding-top: 124px;
  min-height: 100vh;
}

.about-hopes-section_flex-container {
  position: sticky;
  top: 120px;
  height: calc(100vh - 124px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .about-hopes-section_flex-container {
    top: 80px;
  }
}

.about-hopes-section_flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--base-color);
  margin: 0 -15px;
}

.about-hopes-section_text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--naftogaz-blue);
}
@media screen and (min-width: 768px) {
  .about-hopes-section_text {
    font-size: 48px;
    padding-left: 142px;
    width: 732px;
  }
}

.about-hopes-slider_plate {
  background-color: var(--base-color);
}

.about-hopes-slider_tiles {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 0px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .about-hopes-slider_tiles {
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
}

.about-hopes-slider_tile {
  position: relative;
}

.about-hopes-tile1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    width: 572px;
  }
}
.about-hopes-tile1::after {
  bottom: 15px;
  left: 15px;
}

.about-hopes-tile2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile2 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    width: 286px;
  }
}
.about-hopes-tile2::after {
  bottom: 15px;
  left: 15px;
}

.about-hopes-tile3 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 5;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile3 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
    width: 286px;
  }
}
.about-hopes-tile3::after {
  top: 15px;
  left: 15px;
}

.about-hopes-tile4 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
  width: 175px;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile4 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
    width: 312px;
  }
}
.about-hopes-tile4::after {
  bottom: 15px;
  right: 15px;
}

.about-hopes-tile5 {
  grid-row-start: 1;
  grid-column-start: 6;
  grid-row-end: 3;
  grid-column-end: 7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile5 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-column-end: 8;
    width: 290px;
  }
}
.about-hopes-tile5::after {
  bottom: 15px;
  right: 15px;
}

.about-hopes-tile6 {
  grid-row-start: 1;
  grid-column-start: 7;
  grid-row-end: 3;
  grid-column-end: 8;
  width: 340px;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile6 {
    grid-row-start: 1;
    grid-column-start: 8;
    grid-row-end: 3;
    grid-column-end: 9;
    width: 304px;
  }
}
.about-hopes-tile6::after {
  top: 15px;
  right: 15px;
}

.about-hopes-tile7 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile7 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    width: 572px;
  }
}
.about-hopes-tile7::after {
  bottom: 15px;
  left: 15px;
}

.about-hopes-tile8 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile8 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
  }
}
.about-hopes-tile8::after {
  bottom: 15px;
  right: 15px;
}

.about-hopes-tile9 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 6;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about-hopes-tile9 {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
    width: 572px;
  }
}
.about-hopes-tile9::after {
  bottom: 15px;
  right: 15px;
}

.about-hopes-slider_tile-img {
  display: block;
}

.about-hopes-slider_tile-text {
  color: var(--main-black);
  padding-left: 25px;
  padding-right: 25px;
  font-family: var(--adfont);
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .about-hopes-slider_tile-text {
    font-size: 20px;
    line-height: 1.1;
  }
}

.about-hopes-slider_tile-text1 {
  max-width: 280px;
}

.about-hopes-slider_tile-text2 {
  width: 100%;
}

.about-hopes-slider_tile-text-pre {
  font-family: var(--adfont);
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .about-hopes-slider_tile-text-pre {
    font-size: 20px;
    line-height: 1.1;
  }
}

.about-hopes-slider_stop-text {
  color: var(--main-black);
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  width: 380px;
  margin: 0 auto 50px;
}

.about-hopes-slider_stop-text-link {
  color: var(--naftogaz-blue);
}

.our-target-section {
  color: var(--base-color);
  background-color: var(--naftogaz-blue);
  padding-top: 92px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .our-target-section {
    padding-top: 140px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .our-target-section {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .our-target-section_flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
  }
}

.our-target-section_large-text {
  font-size: 40px;
  line-height: 1.23;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .our-target-section_large-text {
    max-width: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .our-target-section_large-text {
    font-size: 36px;
    line-height: 1.19;
    margin-bottom: 0;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    padding-right: 15px;
  }
}

.youtube-media {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .youtube-media {
    max-width: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .youtube-media {
    max-width: 532px;
    margin-bottom: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.youtube-media::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progres-bar {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .progres-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.progres-bar_text {
  font-size: 24px;
  line-height: 1.23;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .progres-bar_text {
    margin-bottom: 30px;
  }
}

.progres-bar_loader-line {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
  background-color: var(--base-color);
  margin: 0 auto;
  padding: 5px;
  border-radius: 20px;
}
@media screen and (min-width: 1200px) {
  .progres-bar_loader-line {
    margin-bottom: 15px;
  }
}

.progres-bar_loader-line:before {
  content: "";
  position: absolute;
  top: 5px;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 20px;
  left: 5px;
  width: 40px;
}

@-webkit-keyframes lineAnim {
  0% {
    left: 5px;
    width: 20px;
  }
  50% {
    left: 5px;
    width: 30px;
  }
  100% {
    left: 5px;
    width: 40px;
  }
}

@keyframes lineAnim {
  0% {
    left: 5px;
    width: 20px;
  }
  50% {
    left: 5px;
    width: 30px;
  }
  100% {
    left: 5px;
    width: 40px;
  }
}
.requisites-section {
  color: var(--main-black);
  background-color: var(--base-color);
  text-align: center;
  padding-top: 92px;
}
@media screen and (min-width: 1200px) {
  .requisites-section {
    padding-top: 60px;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .requisites-section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.requisites-section_title {
  font-size: 48px;
  line-height: 1.23;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .requisites-section_title {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .requisites-section_title {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-size: 64px;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.requisites-section_subtitle {
  font-size: 36px;
  line-height: 1.23;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .requisites-section_subtitle {
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1200px) {
  .requisites-section_subtitle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-size: 32px;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.requisites-items {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .requisites-items {
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .requisites-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-bottom: 0;
    margin-left: 70px;
    height: 357px;
  }
}

.requisites-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .requisites-item {
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .requisites-item {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.requisites-item-key {
  font-size: 24px;
  line-height: 1.23;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .requisites-item-key {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .requisites-item-key {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.requisites-item-value {
  font-size: 16px;
  line-height: 1.23;
}
@media screen and (min-width: 768px) {
  .requisites-item-value {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .requisites-item-value {
    font-size: 16px;
  }
}

.requisites-section_work-1 {
  position: relative;
}
.requisites-section_work-1::after {
  bottom: 15px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .requisites-section_work-1 {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .requisites-section_work-1 {
    width: 581px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.requisites-section_work-1-img {
  width: 100%;
  display: block;
}

.footer {
  color: var(--base-color);
  background-color: var(--main-black);
  text-align: center;
  padding-top: 92px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 41;
  }
}

@media screen and (min-width: 1200px) {
  .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer_title {
  font-size: 48px;
  line-height: 1.23;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer_title {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-size: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .footer_add-container {
    text-align: left;
    width: 666px;
  }
}

.social {
  font-size: 14px;
  line-height: 1.23;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .social {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin-bottom: 26px;
  }
}

.social-list {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .social-list {
    max-width: 556px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
  }
}
@media screen and (min-width: 1200px) {
  .social-list {
    margin-left: -96px;
    margin-bottom: 62px;
  }
}

.social_item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .social_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 54px;
  }
  .social_item:last-child {
    margin-bottom: 0px;
  }
}

.br {
  font-size: 0px;
  letter-spacing: -0.5;
}

.social_icon {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .social_icon {
    margin-bottom: 0;
    width: 64px;
    margin-right: 32px;
  }
}

.social_icon-img {
  height: 40px;
}
@media screen and (min-width: 768px) {
  .social_icon-img {
    height: 48px;
  }
}

.insta {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .insta {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .insta {
    margin-bottom: 78px;
  }
}

.insta_text {
  font-size: 20px;
  line-height: 1.23;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .insta_text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .insta_text {
    font-size: 20px;
  }
}

.insta_link {
  font-size: 14px;
  line-height: 1.23;
}

.main-orglogos--footer {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main-orglogos--footer {
    width: 450px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-orglogos--footer .main-orglogos_logo-img {
    height: 30px;
  }
}

.copyright {
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */