.note {
  position: absolute;
  z-index: 3;
  padding: 5px;
  border: 1px solid black;
  color: var(--main-black);
  background-color: var(--base-color);
  text-align: center;

  opacity: 0.9;

  font-family: 'Volkhov', serif;
  font-size: 12px;
  line-height: 1.23;
  letter-spacing: 0.05em;

  cursor: pointer;
}
