:root {
  --base-color: #ffffff;
  --naftogaz-blue: #00a1de;
  --main-black: #000000;
  --transfotmation-time: 250ms;
  --tranformation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mainfont: 'Montserrat Alternates', sans-serif;
  --adfont: 'Vollkorn', serif;
}

//font-family: 'Montserrat Alternates', sans-serif;
//font-family: 'Vollkorn', serif;
