.aboutwar-slider {
  height: 586px; //temporary?
}

.aboutwar-slider_plate {
  background-color: var(--main-black);
}

// .aboutwar_plate-content {
// }

.aboutwar-slider_tiles {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 0px;
  height: 100%;
}

.aboutwar-tile1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}

.aboutwar-tile2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

.aboutwar-tile3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 4;
}

.aboutwar-tile4 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 5;
  max-width: 380px;
}

.aboutwar-tile5 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
}

.aboutwar-tile6 {
  grid-row-start: 1;
  grid-column-start: 6;
  grid-row-end: 3;
  grid-column-end: 7;
}

.aboutwar-tile7 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

.aboutwar-tile8 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
}

.aboutwar-tile8 {
  grid-row-start: 1;
  grid-column-start: 7;
  grid-row-end: 3;
  grid-column-end: 8;
}

.aboutwar-slider_tile-img {
  display: block;
}

.aboutwar-slider_tile-text {
  color: var(--base-color);
  padding-left: 5px;
  padding-right: 25px;
}

.aboutwar-slider_tile-text-pre {
  font-family: 'Volkhov', serif;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.05em;
}

//.aboutwar-slider_stop-slide {
// padding-left: 15px;
//}

.aboutwar-slider_stop-text {
  color: var(--base-color);
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  width: 380px;
  margin: 0 auto 50px;
}

.aboutwar-slider_stop-text-link {
  color: var(--naftogaz-blue);
}
