.about-hopes-section {
  padding-top: 124px;
  min-height: 100vh;
}

// .about-hopes-section_container {
// }

.about-hopes-section_flex-container {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  height: calc(100vh - 124px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-hopes-section_flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--base-color);
  margin: 0 -15px;
  // outline: 1px rgb(71, 32, 58) dotted;

  @media screen and (min-width: $tablet) {
  }
}

.about-hopes-section_text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--naftogaz-blue);
  // outline: 1px rgb(74, 45, 75) dotted;

  @media screen and (min-width: $tablet) {
    font-size: 48px;

    padding-left: 142px; //?
    width: 732px; //?
  }
}

// .about-hopes-section_slider {
// }
