.btn-donate {
  display: block;
  font-family: inherit;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: var(--base-color);
  background-color: var(--naftogaz-blue);
  cursor: pointer;
  padding: 10px 70px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid transparent;

  @media screen and (min-width: $mobile) {
    width: 380px;
  }
}
