.container {
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px rgb(57, 71, 32) dotted;
  // outline: 1px gray dotted;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
