.footer {
  color: var(--base-color);
  background-color: var(--main-black);
  text-align: center;
  padding-top: 92px;
  padding-bottom: 30px;
}

.footer_title {
  font-size: 48px;
  line-height: 1.23;
  margin-bottom: 20px;
}

.social {
  font-size: 14px;
  line-height: 1.23;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}
.social-list {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    max-width: 556px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
  }
}

.social_item {
  margin-bottom: 30px;
  // outline: 1px dotted orange;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.br {
  font-size: 0px;
  letter-spacing: -0.5;
}

.social_icon {
  margin-bottom: 15px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    width: 64px;
    margin-right: 32px;
  }
}

.social_icon-img {
  height: 40px;

  @media screen and (min-width: $tablet) {
    height: 48px;
  }
}

.insta {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 80px;
  }
}

.insta_text {
  font-size: 20px;
  line-height: 1.23;
  margin-bottom: 15px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.insta_link {
  font-size: 14px;
  line-height: 1.23;
}

.main-orglogos--footer {
  margin-bottom: 30px;
}

.copyright {
  font-weight: 500;
}
