.intro-section {
  // outline: 1px maroon dotted;
  padding-top: 100px;
  color: var(--main-black);
  // height: 100vh;
}

.intro-section_grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  gap: 0px;
  height: 100%;
  max-width: 100%;

  @media screen and (min-width: $desktop) {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
  }
}

.intro-section_large-text {
  // outline: 1px rgb(57, 71, 32) dotted;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  color: var(--naftogaz-blue);

  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;

  align-self: end;

  @media screen and (min-width: $tablet) {
    padding-left: 35px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 48px;

    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }
}

.intro-section_small-text {
  // outline: 1px rgb(57, 71, 32) dotted;
  // width: 270px;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  // flex-shrink: 1;
  // overflow: hidden;
  margin-top: 40px;

  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;

  align-self: start;

  @media screen and (min-width: $tablet) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;

    width: 440px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 35px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 32px;

    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;

    align-self: start;

    width: 100%;
  }
}

.intro-section_work-1 {
  // outline: 1px rgb(57, 71, 32) dotted;
  position: relative;
  // right: 0;
  // top: 50%;
  // transform: translate(0, -45%);
  // bottom: 234px;
  // flex-shrink: 0;

  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;

  align-self: end;

  width: 123px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;

    width: 298px;
  }

  @media screen and (min-width: $desktop) {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;

    width: 278px;
  }

  &::after {
    @extend %i-after;
    bottom: 16px;
    left: 12px;

    @media screen and (min-width: $tablet) {
      left: 0;
      left: 240px;
    }
  }
}

.intro-section_work-1-img {
  display: block;
}

.intro-section_work-2 {
  // outline: 1px rgb(57, 71, 32) dotted;
  // position: absolute;
  position: relative;
  // right: -170px;
  bottom: 0px;

  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;

  max-width: 100%;

  align-self: end;

  @media screen and (min-width: $tablet) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;

    width: 455px;
  }

  @media screen and (min-width: $desktop) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;

    width: 510px;
  }

  &::after {
    @extend %i-after;

    bottom: 16px;
    right: 16px;
  }
}

.intro-section_work-2-img {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
}

// @keyframes animateY110 {
//   0% {
//     transform: translateY(0);
//   }

//   100% {
//     transform: translateY(-110px);
//   }
// }
