.intro-section {
  outline: 1px maroon dotted;
  padding-top: 100px;
  color: var(--main-black);
  // height: 100vh;
  // background-image: linear-gradient(to right, var(--naftogaz-blue), var(--naftogaz-blue));
  // background-repeat: no-repeat;
  // background-position-x: center;
  // background-position-y: -60vh;
  // background-position-y: -560px;

  // background-size: cover;
  // background-color: var(--naftogaz-blue);
  // background-size: auto 270px;
  // background: border-box red;
}

.intro-section_container {
  outline: 1px gray dotted;
  // position: relative;
}

.intro-section_large-text {
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  color: var(--naftogaz-blue);

  // color: var(--base-color);
  // margin-bottom: 34px;
}

.intro-section_small-text-container {
  display: flex;
  align-items: center;
}

.intro-section_small-text {
  // width: 270px;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  flex-shrink: 1;
  overflow: hidden;
}

.intro-section_work-1 {
  position: relative;
  // right: 0;
  // top: 50%;
  // transform: translate(0, -45%);
  // bottom: 234px;
  flex-shrink: 0;
  &::after {
    content: url(../../img/i.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--base-color);
    position: absolute;
    bottom: 16px;
    left: 12px;
    border-radius: 50%;
  }
}
.intro-section_work-1-img {
  display: block;
}

.intro-section_work-2 {
  // position: absolute;
  position: relative;
  // right: -170px;
  bottom: 0px;

  &::after {
    content: url(../../img/i.svg);
    // text-align: center;
    // display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--base-color);
    position: absolute;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
  }
}
.intro-section_work-2-img {
  display: block;
  width: 100%;
}

// @keyframes animateY110 {
//   0% {
//     transform: translateY(0);
//   }

//   100% {
//     transform: translateY(-110px);
//   }
// }
