.intro2-section {
  color: var(--main-black);
  padding-bottom: 46px;
  //   overflow: hidden;
  //   overflow-x: hidden;
}

//.intro2-section_container {
//   overflow: hidden;
//}

.intro2-section_sticky-container {
  position: relative;
}
.intro2-section_work-1-1 {
  position: sticky;
  top: 0;
  margin: 0 -15px;

  @media screen and (min-width: $tablet) {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.intro2-section_work-1-1-img {
  display: block;
  width: 100%;
}

.intro2-section_work-1-2 {
  position: sticky;

  top: 0;
  z-index: 3;
  margin: 0 -15px;

  @media screen and (min-width: $tablet) {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &::after {
    @extend %i-after;
    bottom: 6px;
    left: 15px;
  }
}

.intro2-section_work-1-2-img {
  display: block;
  width: 100%;
  //   margin-bottom: 100px;
}
.intro2-section_small-text {
  position: sticky;
  top: 940px;
  font-size: 36px;
  line-height: 1.23;
  margin-top: 44px;

  @media screen and (min-width: $tablet) {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
}
