.invi-slider_plate {
  background-color: var(--base-color);
}

.invi-slider_tiles {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto 460px auto;
  gap: 0px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}

.invi-slider_tile {
  position: relative;
}

.invi-tile1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;

  width: 320px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;

    width: 571px;
  }

  &::after {
    @extend %i-after;
    bottom: 15px;
    left: 15px;
  }
}

.invi-tile2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;

  width: 320px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;

    width: 571px;
  }

  &::after {
    @extend %i-after;
    bottom: 15px;
    right: 15px;
  }
}

.invi-tile3 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;

  width: 350px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;

    width: 314px;
  }

  &::after {
    @extend %i-after;
    bottom: 15px;
    right: 15px;
  }
}

.invi-tile4 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;

  width: 320px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;

    width: 572px;
  }

  &::after {
    @extend %i-after;
    top: 15px;
    left: 15px;
  }
}

.invi-tile5 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;

  width: 320px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;

    width: 571px;
  }

  &::after {
    @extend %i-after;
    bottom: 15px;
    right: 15px;
  }
}

.invi-tile6 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;

  // width: 320px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;

    width: 372px;
  }

  &::after {
    @extend %i-after-inverse;
    // background-color: var(--main-black);
    // color: var(--base-color);
    bottom: 15px;
    right: 25px;
  }
}

.invi-tile7 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;

  width: 350px;

  @media screen and (min-width: $tablet) {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-column-end: 8;

    width: 314px;
  }

  &::after {
    @extend %i-after;
    bottom: 15px;
    right: 15px;
  }
}

.invi-slider_tile-img {
  display: block;
}

.invi-slider_tile-text {
  color: var(--main-black);
  //   font-size: 18px;
  //   line-height: 1.23;
  //   letter-spacing: 0.05em;
  padding-left: 50px;
  padding-right: 25px;

  @media screen and (min-width: $tablet) {
    padding-left: 30px;
  }
}

.invi-slider_tile-text-pre {
  font-family: var(--adfont);
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.05em;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.1;
    margin-top: 12px;
    margin-bottom: 6px;
  }
}

//.invi-slider_stop-slide {
//   height: 100%;
// padding-left: 15px;
//}

.invi-slider_stop-text {
  color: var(--main-black);
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  width: 380px;
  margin: 0 auto 50px;
}

.invi-slider_stop-text-link {
  color: var(--naftogaz-blue);
}
