.invi-section {
  padding-top: 124px;
  color: var(--base-color);
  min-height: 100vh;
  //   position: relative;
  //   outline: 1px rgb(245, 140, 140) dotted;
}

.invi-section_flex-container {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  height: calc(100vh - 124px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  //   background-color: bisque;
  //   outline: 1px rgb(105, 94, 94) dotted;
}

.invi-section_flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--naftogaz-blue);
  margin: 0 -15px;
}

.invi-section_text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  padding: 0 30px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;

    padding-left: 142px; //?
    width: 732px; //?
  }
  //   outline: 1px rgb(165, 207, 172) dotted;
}
