.invi-slider {
  height: 586px; //temporary
  //   background-color: var(--base-color);
}

.invi-slider_plate {
  background-color: var(--base-color);
  //   margin-left: -20px;
}

// .invi-slider_plate-content {
//   display: grid;
//   grid-template-rows: auto auto;
//   grid-template-columns: auto auto auto 460px auto;
//   gap: 0px;
//   height: 100%;
// }

.invi-slider_tiles {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto 460px auto;
  gap: 0px;
}

.invi-tile1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}

.invi-tile2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

.invi-tile3 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}

.invi-tile4 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}

.invi-tile5 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}

.invi-tile6 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

.invi-tile7 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
}

.invi-slider_tile-img {
  display: block;
}

.invi-slider_tile-text {
  color: var(--main-black);
  //   font-size: 18px;
  //   line-height: 1.23;
  //   letter-spacing: 0.05em;
  padding-left: 50px;
  padding-right: 25px;
}

.invi-slider_tile-text-pre {
  font-family: 'Volkhov', serif;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.05em;
}

//.invi-slider_stop-slide {
//   height: 100%;
// padding-left: 15px;
//}

.invi-slider_stop-text {
  color: var(--main-black);
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  width: 380px;
  margin: 0 auto 50px;
}

.invi-slider_stop-text-link {
  color: var(--naftogaz-blue);
}
