.main-section {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  padding-top: 44vh;
  //   max-width: $mobile;
  height: 100vh;
  // overflow-y: auto;
  // margin: 0 auto;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/main-mob@1x.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/main-mob@2x.png);
  }

  @media screen and (min-width: $tablet) {
    // max-width: $tablet;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/main-tablet@1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/main-tablet@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    // max-width: 1600px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/main-desktop@1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/main-desktop@2x.png);
    }
  }
  /* тимчасово для */
  // overflow: auto;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  /* тимчасово */
}

// .main-section::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }

.main-title {
  //   width: 100%;
  height: 152px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--eng {
    background-image: url(../img/main-title-mob-eng.svg);
  }

  &--ukr {
    background-image: url(../img/main-title-mob-ukr.svg);
  }

  @media screen and (min-width: $tablet) {
    max-width: 428px;
    margin-bottom: 68px;

    &--eng {
      background-image: url(../img/main-title-tablet-eng.svg);
    }

    &--ukr {
      background-image: url(../img/main-title-tablet-ukr.svg);
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 640px;
    margin-bottom: 46px;
  }
}

.main-orglogos {
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;

  @media screen and (min-width: $tablet) {
    max-width: 428px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 640px;
  }
}

.main-orglogos_logo-items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.main-orglogos_logo-img {
  height: 20px;

  @media screen and (min-width: $tablet) {
    height: 30px;
  }

  @media screen and (min-width: $desktop) {
    height: 40px;
  }
}
