.new-slider {
  height: 586px; //temporary?
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}

.new-slider_plate {
  position: relative;
  width: 2400px; // temp
  //   height: 100px; // temp
  height: 100%;
  padding-left: 15px;
  //   padding: 58px 15px;
  //   background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   margin-left: -50vw;
  //   margin-left: -1920px;
  //   margin-left: -177vw;
}

// .new-slider_plate-content {
//   background-color: rgb(135, 202, 222);
// }

.new-slider_stop-slide {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   margin: 0 52px;
}
