.requisites-section {
  color: var(--main-black);
  background-color: var(--base-color);
  text-align: center;
  padding-top: 92px;
  //

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 88px;
  }
}

.requisites-section_container {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.requisites-section_title {
  font-size: 48px;
  line-height: 1.23;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 14px;
  }

  @media screen and (min-width: $desktop) {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font-size: 64px;
    margin-bottom: 0;
    flex-grow: 0;
    // width: 610px;
    // outline: 1px dotted red;
  }
}

.requisites-section_subtitle {
  font-size: 36px;
  line-height: 1.23;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 66px;
  }

  @media screen and (min-width: $desktop) {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font-size: 32px;
    margin-bottom: 0;
    flex-grow: 0;
    // outline: 1px dotted rgb(13, 44, 110);
  }
}

.requisites-items {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 42px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 2;
    margin-bottom: 0;
    margin-left: 70px;
    height: 357px;
    // outline: 1px dotted rgb(28, 126, 25);
  }
}

.requisites-item {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 42px;
  }
  @media screen and (min-width: $desktop) {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.requisites-item-key {
  font-size: 24px;
  line-height: 1.23;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }

  @media screen and (min-width: $desktop) {
    // text-align: left;
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.requisites-item-value {
  font-size: 16px;
  line-height: 1.23;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    // text-align: left;
  }
}

.requisites-section_work-1 {
  position: relative;
  &::after {
    @extend %i-after;
    bottom: 15px;
    right: 15px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media screen and (min-width: $desktop) {
    width: 581px;
    margin-left: 0px;
    margin-right: 0px;
    flex-grow: 0;
  }
}

.requisites-section_work-1-img {
  width: 100%;
  display: block;
}
