.schools-section {
  //   position: relative;
  padding-top: 100px;
  outline: 1px maroon dotted;
  min-height: 250vh;
  background-color: black;
  color: #00a1de;
  padding-left: 20px;
  padding-right: 20px;
}

.schools-section_container {
  position: relative;
}

.schools-section_text {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  font-size: 36px;
  line-height: 1.22;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.schools-section_slider {
  outline: 1px maroon dotted;
  height: 486px;
}
