.schools-section {
  position: relative;
  padding-top: 124px;
  padding-bottom: 100px;
  // outline: 1px maroon dotted;
  min-height: 332vh;
  background-color: black;
  color: var(--naftogaz-blue);
  // padding-left: 20px;
  // padding-right: 20px;
}

.schools-section_container {
  position: -webkit-sticky;
  position: sticky;
  top: 124px;
}

.schools-section_text {
  width: 380px;
  font-size: 30px;
  line-height: 1.22;
  margin: 0 auto 30px;
}

.schools-section_slider {
  // height: 486px;
}
