.slider1_tiles {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.slider1_plate {
  width: 2388px;
  // display: flex;
  // justify-content: start;
  // align-items: center;
}

.tile {
  //   width: 20px;
  //   height: 20px;
  // background-color: #fff;
  // outline: 1px dotted tomato;
}

.tile1 {
  grid-area: 1 / 1 / 3 / 2;
}
.tile2 {
  grid-area: 1 / 2 / 2 / 3;
}
.tile3 {
  grid-area: 1 / 3 / 2 / 5;
}
.tile4 {
  grid-area: 2 / 2 / 3 / 4;
}
.tile5 {
  grid-area: 2 / 4 / 3 / 5;
}
.tile6 {
  grid-area: 1 / 5 / 3 / 7;
}

.slider1_added-text {
  width: 380px;
  height: 452px;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  color: var(--naftogaz-blue);
  margin: 0 52px;
}

.slider1_added-text-span {
  color: var(--base-color);
}

.slider1_stop-slide {
  width: 380px;
  margin: 0 52px;
}

.slider1_stop-text {
  // display: inline-block;
  // width: 400px;
  // margin-left: 60px;
  // margin-right: 40px;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  color: var(--base-color);
  margin-bottom: 50px;
}

.slider1_stop-text-link {
  color: var(--naftogaz-blue);
}

.tile_img {
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  &:hover {
    -webkit-filter: none;
    filter: none;
  }
}
