.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .top-menu-button {
//   color: inherit;
//   background-color: inherit;
//   border: none;
// }
