body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: var(--base-color);
  // width: 100%;
  // height: 100%;
  font-family: var(--mainfont);
  font-weight: 800;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Volkhov', serif;

// background-color: var(--white-text-color);

// &.mobile-menu-open {
//   overflow: hidden;
// }
// }

p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--base-color);
}

.title {
  // color: var(--title-text-color);
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  // transition-property: background-color;
  // transition-duration: var(--transfotmation-time);
  // transition-timing-function: var(--tranformation-function);
}

// .section {
// padding-top: 60px;
// padding-bottom: 60px;

// @media screen and (min-width: $desktop) {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// &--features {
//   @media screen and (min-width: $desktop) {
//     padding-bottom: 47px;
//   }
// }

// &--occupation {
//   @media screen and (max-width: ($desktop - 1)) {
//     display: none;
//   }

//   @media screen and (min-width: $desktop) {
//     padding-top: 47px;
//   }
// }
// }

// .section__title {
// margin-bottom: 30px;
// font-weight: 700;
// font-size: 28px;
// line-height: 1.17;
// text-align: center;
// letter-spacing: 0.03em;

// @media screen and (min-width: $desktop) {
//   margin-bottom: 50px;
//   font-size: 36px;
// }
// }
